<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show person</title>
</head>
<body>

<p th:text="${person.getFullName() + ', ' + person.getBirthYear()}">
<div th:if="${books.isEmpty()}">
    This visitor didn't take any book
</div>
<br/>
<div th:if="${!books.isEmpty()}">
    <em>Books:</em>
    <ul>
        <li th:each="book : ${books}"
            th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></li>
    </ul>
</div>
<br/>
<hr/>
<a th:href="@{/library/people/{id}/edit(id=${person.getId()})}">Edit</a>
<form th:method="POST" th:action="@{/library/people/delete/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>