<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new book</title>
</head>
<body>

<form th:method="POST" th:action="@{/library/books}" th:object="${book}">
    <!-- Глобальные ошибки -->
    <div style="color:red" th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}">Global errors</div>

    <label for="name">Enter book name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Book name errors</div>
    <br/>
    <label for="author">Enter author: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author errors</div>
    <br/>
    <label for="year">Enter year: </label>
    <input type="text" th:field="*{year}" id="year"/>
    <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year errors</div>
    <br/>
    <input type="submit" value="Add">
</form>
</body>
</html>
